<div class="ml-5per">
  <h3 class="page-title zoomEl">Where I've Worked</h3>
  <div class="tab">
    <button
      class="tablinks"
      (click)="openCity($event, 'London')"
      id="first_tab"
    >
      <div class="circle"></div>
      <span style="margin-left:10px">Amplus Solar</span>
    </button>
    <button class="tablinks" (click)="openCity($event, 'Paris')">
      <div class="circle"></div>
      <span style="margin-left:10px">Nagarro Software</span>
    </button>
  </div>

  <div id="London" class="tabcontent active">
    <div class="profile-title">
      <h4>Senior Software Engineer</h4>
      &nbsp;
      <h4 class="secondary-color">@Amplus</h4>
    </div>
    <p style="float:right">Dec 2018 - Present</p>
    <div style="margin-top:10%">
      <ul class="set-list">
        <li class="set-item">
          Developed and maintained code for in-house and client websites
          primarily using HTML, CSS, Sass, JavaScript, and jQuery
        </li>
        <li class="set-item">
          Manually tested sites in various browsers and mobile devices to ensure
          cross-browser compatibility and responsiveness
        </li>
        <li class="set-item">
          Clients included JetBlue, Lovesac, U.S. Cellular, U.S. Department of
          Defense, and more
        </li>
      </ul>
    </div>
  </div>

  <div id="Paris" class="tabcontent">
    <div class="profile-title">
      <h4>Associate Technology</h4>
      &nbsp;
      <h4 class="secondary-color">@Nagarro Software</h4>
    </div>
    <p style="float:right">Jan 2016 - Dec 2018</p>
    <div style="margin-top:10%">
      <ul class="set-list">
        <li class="set-item">
          Developed and maintained code for in-house and client websites
          primarily using HTML, CSS, Sass, JavaScript, and jQuery
        </li>
        <li class="set-item">
          Manually tested sites in various browsers and mobile devices to ensure
          cross-browser compatibility and responsiveness
        </li>
        <li class="set-item">
          Clients included JetBlue, Lovesac, U.S. Cellular, U.S. Department of
          Defense, and more
        </li>
      </ul>
    </div>
  </div>
</div>
