<section style="margin:10%">
  <h1 class="f-50" style="transition-delay: 200ms;">
    Get In Touch
  </h1>

  <div style="transition-delay: 400ms;margin-top:40px">
    <p class="f-20">
      Although I'm not currently looking for any new opportunities, my inbox is
      always open. Whether you have a question or just want to say hi, I'll try
      my best to get back to you!
    </p>
  </div>
  <div style="transition-delay: 500ms; margin-top: 60px">
    <a class="mail-button" href="mailto:vishnukhandelwal93@gmail.com"
      >Say Hello</a
    >
  </div>
</section>
