<section style="margin:10%">
  <h4 class="f-15" style="transition-delay: 100ms;">
    Hi, my name is
  </h4>
  <h1 class="f-50" style="transition-delay: 200ms;">
    Vishnu Todwal;
  </h1>
  <h3 class="f-50" style="transition-delay: 300ms;">
    I build things for the web;
  </h3>
  <div style="transition-delay: 400ms;margin-top:40px">
    <p class="f-20">
      I'm a software engineer based in New Delhi, MA specializing in building
      (and occasionally designing) exceptional websites, applications, and
      everything in between.
    </p>
  </div>
  <div style="transition-delay: 500ms; margin-top: 60px">
    <a class="mail-button" href="mailto:vishnukhandelwal93@gmail.com"
      >Get In Touch</a
    >
    <a
      style="margin-left:20px"
      class="mail-button"
      href="mailto:vishnukhandelwal93@gmail.com"
    >
      Download Resume
    </a>
  </div>
</section>
